
<meta name="viewport" content="initial-scale=1, maximum-scale=1" />


 

	

<!--	<section class="bg-primary" id="forum"> -->

<% if ((user_signed_in?) && @group.users.ids.include?(current_user.id)) %>
  <% @category.includes(:forums).each do |cat| %>
    <div class="bg-info">
       
        <ul class="nav navbar-nav">
        <h4><li class="info"><%= cat.name %><span class="sr-only">(current)</span></li></h4>
	     </ul>
	  </div>
    	 
  <table class="table  cellspacing='1' table-hover">
  <thead>
  <div class="bg-primary">
    <tr class="success">
	
	  <th width="30%"><%=t :Forum %></th>
	  <th width="49%">Post</th>
	  <th width="7%"><%=t :Topics %></th>
      <th width="7%">Replies</th>
	  <th width="7%">Views</th>
     </tr>
  </div>	 
  </thead>

  
  
  
  <tbody>
 
  <tr class="info">
   <tr>
   
   
	
	   <% for i in 0..cat.forums.length-1 %>
	       <td><h4><%= link_to h(cat.forums[i].name), forum_path(cat.forums[i].to_param) %> </h4>

                <%= cat.forums[i].description %></td>
		
		<td class="right"><% if cat.forums[i].last_topic %>
		<h4><%= link_to h(cat.forums[i].last_topic.subject),  topic_path(cat.forums[i].last_topic.slug),title: cat.forums[i].last_topic.subject   %>  </h4>
		
		<%= distance_of_time_in_words_to_now cat.forums[i].last_topic.last_post_at %> ago by 
		<%= link_to cat.forums[i].last_topic_user, user_path(cat.forums[i].last_topic.user_id) %>
		<% else %>no posts<% end %></td>
		
		<td class="right">
		<h4><span class="badge"><%= cat.forums[i].topics.count %></span></a> topics</h4>
		</td>
		
		<td class="right">
		<h4><span class="badge"><%= cat.forums[i].count_post-cat.forums[i].topics.count %></span></a> replies</h4>
		</td>
		
		<td class="right">
		<h4><span class="badge"><%= cat.forums[i].count_reply %></span></a> views</h4>
		</td>
     
	  	</nav>
      </tr>
	
    <% end %>

	
  </tbody>
</table>
 <% end %>

 <div id="tag_cloud">
  <% tag_cloud Topic.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
</br> 
 <% end %>
 
 
<% if user_signed_in? %>
 <% if current_user.admin %>
  <%= link_to 'New Forum', new_forum_path, :class => "btn btn-primary" %>
 <% end %> 
<% end %>
</section>
