<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
<table class="table">

 <thead>
    <tr>
	<th width="80%">Topic Title</th>
    <th width="10%">Replies</th>
    <th width="10%">Views</th>
     </tr>
  </thead>
 
    <tbody>
  <% for topic in @forum.topics.most_resent_post %>
  
    <tr>
      <td><%= link_to h(topic.subject), topic_path(topic.to_param) %>
	  
	  </br>
	  <h6>Created: by <%= link_to topic.author.name, user_path(topic.author) %>    <%= distance_of_time_in_words_to_now topic.last_post_at %> ago </h6>
	  
	  </h5></td>
      <td><h4><span class="badge"><%= topic.posts.count-1  %></span></a> replies</h4></td>
      <td><h4><span class="badge"><%= topic.views_count  %></span></a> views</h4></td>
    </tr>
  <% end %>
   </tbody>
</table>

<% if user_signed_in? %>
  <p><%= link_to "New Topic", new_forum_topic_path(@forum.id), :class => "btn btn-primary" %></p>
<% end %>
