%p#notice= notice
= link_to 'Скрытый форум', hidden_forum_path, :class => "btn btn-primary"
%h1 Listing group
%table
  %thead
    %tr
      %th Title
      %th{:colspan => "3"}
  %tbody
    - @groups.each do |group|
      %tr
        %td= group.name
        %td= link_to 'Show', group, :class => "btn btn-primary"
        %td= link_to 'Edit', edit_group_path(group), :class => "btn btn-primary"
        %td= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-primary"
        %td= link_to 'Добавить в группу', addingroup_path(group), :class => "btn btn-primary"
%br/
= link_to 'New group', new_group_path, :class => "btn btn-primary"