<!DOCTYPE html>
<html>
<head>
  <title>Tforum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= value %>
    </div>
<% end %>

 <nav class="navbar navbar-default" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
						
                    </button>
                    <%= link_to "Клуб любителей чая", root_path, class: 'navbar-brand' %>
                </div>
				
				
				

               

                    <ul class="nav navbar-nav navbar-right">
                         
                         <% if user_signed_in? %>
						    <li><%= link_to 'Members', users_path %></li>

                            <li><%= link_to current_user.name, edit_user_registration_path %></li>
							 <li><h4><span class="glyphicon glyphicon-envelope" ><%= link_to current_user.private, user_private_posts_path(current_user.id) %></span></h4></li>
						
							<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
							<% if current_user.admin %>
							
                             <li><%= link_to 'Administrate', rails_admin_path %></li>
							 <li><%= link_to 'Tools', tools_path %></li>
                          <% end %> 
                         <% else %>
                             <li><%= link_to 'Login', new_user_session_path %></li>
							 <li><%= link_to 'Sign up', new_user_registration_path %></li>
                         <% end %>
                    </ul>
                </div>
            </div>
        </nav>


	
		<ul class="nav nav-pills">
  
     
      <li><%= link_to "Home", root_path %><span class="sr-only"></li>
       <li><%= link_to "Latest", latest_path %><span class="sr-only">(current)</span></a></li>
       <li><%= link_to "TOP", top_path %><span class="sr-only">(current)</span></a></li>
	  <li class="right"><%= link_to 'Search', root_path %><span class="sr-only">(current)</span></button></li>
    
	 </ul>
      

	
	 

          <div class="container">
              <%= yield %>
          </div>

     



</body>
</html>
